/* aboutus.css */

body {
    font-family: Arial, sans-serif;
    background-color: slategrey;
}

#topbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.menu-item {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}

.menu-item:hover {
    background-color: #555;
}

.article-pic {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    border-radius: 50%;
}

.article-description, .article-conclusion {
    font-size: 20px;
    line-height: 1.4;
    color: white;
    margin: 10px 0;
    text-align: justify;
}

.offer-section {
    padding-left: 20px;
}

.right-align {
    text-align: right;
    list-style-type: none;
    padding-left: 0;
}

.right-align li {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}
