  #topbar{
                border-bottom: 1px solid rgb(116, 141, 211);;
                box-sizing: border-box;
                padding: 22px 80px;
                text-align: center;
                background-color: rgb(116, 141, 211);
            }
            .menu-item{
                padding: 8px; 
                font-size: 24px;
                color:blue;
                font-weight: 600px;
                text-decoration: none;
            }
            .article{
               
                font-size: 24px;
                line-height: -1px;
                color: black;
            }
            .article-pic{
                width:400px;
                height: 550px;
                float: left;
                padding-right: 15px;
            }
           #article-wrapper{
                padding:1%;
            }
        </Style>
