/* aboutus.css */
/* Topbar Styles */
#topbar {
    border-bottom: 1px solid rgb(116, 141, 211);
    padding: 22px 80px;
    text-align: center;
    background-color: rgb(116, 141, 211);
    position: sticky;
    top: 0;
}
.menu-item {
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-item:hover {
    background-color: #555;
}

body {
    font-family: Arial, sans-serif;
    background-color: slategrey;
}

#topbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.article-pic {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    border-radius: 50%;
}

.article-description, .article-conclusion {
    font-size: 20px;
    line-height: 1.4;
    color: black;
    margin: 10px 0;
    text-align: justify;
}

.offer-section {
    padding-left: 20px;
}

.right-align {
    text-align: right;
    list-style-type: none;
    padding-left: 0;
}

.right-align li {
    font-size: 18px;
    line-height: 1.6;
    color: black;
}
