  body{
    margin:0; 
    background-color: white; 
    font-size: 20px;
  }



.imagess {
    height: 500px;
    width: 1370px;
}

.image-wrapper {
    width: 672px;
    height: 300px;
    display: block;
    margin: 0;
}

header h1 {
    font-size: 48px;
    text-align: center;
}

p {
    padding: 20px;
    color: black;
    line-height: 1.6;
}
