  body{
    margin:0; 
    background-color: white; 
    font-size: 20px;
  }


.imagess {
    height: 850px;
    width: 1420px;
    display: block;
    object-fit: cover;
}

.image-wrapper {
    width: 650px; /* Set width to 48% for two images per row */
    margin: 10px;
    object-fit: cover;
    height: 350px; /* Keep the height consistent */
}

header h1 {
    font-size: 48px;
    text-align: center;
}

p {
    padding: 20px;
    color: black;
    line-height: 1.6;
}
