.imagess {
    height: 500px;
    width: 1370px;
}

.image-wrapper {
    width: 672px;
    height: 300px;
    display: inline;
    margin: 0;
}

header h1 {
    font-size: 48px;
    text-align: center;
}

p {
    font-size: 15px;
    line-height: 1.4;
}
