body {
    margin: 0;
    background-color: white;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.content {
    font-size: 15px;
    line-height: 1.4;
    margin: 20px;
    color: black;
}

.imagess {
    height: 750px;
    width: 1420px;
    display: block;
    object-fit: cover;
}

.image-wrapper {
    width: 600px; /* Set width to 48% for two images per row */
    margin: 10px;
    object-fit: cover;
    height: 300px; /* Keep the height consistent */
}


