body {
    margin: 0;
    background-color: white;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.content {
    font-size: 15px;
    line-height: 1.4;
    margin: 20px;
}

.imagess {
    height: 500px;
    width: 1800px;
    margin: o:
}

.image-wrapper {
    width: 45%;  /* Each image takes up 45% of the width */
    height: 300px;
    margin: 10px;
    object-fit: cover;
}

