body {
    margin: 0;
    background-color: white;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

.content {
    font-size: 15px;
    line-height: 1.4;
    margin: 20px;
    color: black;
}

.imagess {
    height: 500px;
    width: 1370px;
}

.image-wrapper {
    width: 672px;
    height: 300px;
    margin: 10px;
}

