body, h1, p, img {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    text-align: center;
    padding: 20px 0;
}

.image-header {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 48px;
    color: black;
    margin-top: 20px;
}

/* Main content styling */
.description {
    padding: 20px;
    color: white;
    line-height: 1.6;
}



.image-wrapper {
    width: 45%;  /* Each image takes up 45% of the width */
    height: 300px;
    margin: 10px;
    object-fit: cover;
}
