/* General body styling */
body {
    margin: 0;
    background-color: rgb(184, 179, 184);
    font-size: 20px;
    line-height: 1.4;
}

/* Header Section */
.header-section {
    text-align: center;
    margin-bottom: 20px;
}

.images {
    height: 500px;
    width: 100%;
    max-width: 1370px;
    display: block;
    margin: 0 auto;
}

.header-section h1 {
    font-size: 48px;
    margin: 20px 0;
}

/* Main Text */
.main-text {
    font-size: 15px;
    margin: 20px;
}

/* Image Gallery */
.image-gallery {
    text-align: center;
    margin: 20px auto;
}

.image-wrapper {
    width: 672px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    object-fit: cover;
}
