          .back-arrow {
                font-size: 24px;
                text-decoration: none;
                color: black;
                padding: 10px;
                
                border-radius: 5px;
                display: inline-block;
                position: fixed; /* Fixes the position */
                top: 20px; /* Distance from the top */
                left: 20px; /* Distance from the left */
            }

            .back-arrow:hover {
                background-color: #45a049;
            }

/* General body styling */
/* General Styles */
            body {
                margin: 0;
                background-color: rgb(184, 179, 184);
                font-family: Arial, sans-serif;
                font-size: 24px;
            }

            h1 {
                font-size: 48px;
                text-align: center;
            }  

            p {
                font-size: 15px;
                line-height: 1.4;
                margin: 20px;
            }

/* Image styles */
            .images {
                height: 500px;
                width: 1370px;
                display: block;
                object-fit: cover;
            }

            .image-table {
                display: flex;
                flex-wrap: wrap; /* Wrap images to the next line */
                justify-content: center;
            }

            .image-wrapper {
                width: 300px; /* Set width to 48% for two images per row */
                margin: 10px;
                object-fit: cover;
                height: 300px; /* Keep the height consistent */
            }
