/* General body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Container for main image and title */
div {
    text-align: center;
    margin-bottom: 20px;
}

.images {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin: 15px 0;
    color: #2c3e50;
}

/* Paragraph styling */
p {
    margin: 20px auto;
    padding: 0 10%;
    font-size: 1.1em;
    text-align: justify;
}

/* Image gallery styling */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.image-wrapper {
    width: calc(50% - 20px); /* Adjust based on desired size */
    max-width: 300px;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 20px;
}

.iimages {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.iimages:hover {
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .image-wrapper {
        width: 100%;
    }

    p {
        padding: 0 5%;
    }
}
