/* General Styles */
body {
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: black;
}

/* text syles */
p {
    padding: 20px;
    color: black;
    line-height: 1.6;
    margin: 0;
}

/* Header Styles */
h1 {
    font-size: 48px;
    text-align: center;
    color: black;
    margin: 20px 0;
}

/* Main Image */
.images {
    height: 500px;
    width: 100%;
    object-fit: cover;
    display: block;
}

/* Gallery Images */
.iimages {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    display: inline-block;  /* Ensures images are displayed inline */
}

/* Image gallery styling */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.image-wrapper {
    width: 45%;  /* Two images per row */
    margin: 10px;
    object-fit: cover;
}

.iimages {
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Rounded corners for the images */
    object-fit: cover;
}
